<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MKM Webclient Cards</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.css} "/>

</head>
<body>
<!-- Navigation -->
<div th:insert="fragments/fragments.html :: header"></div>

<div>
    <table class="table table-hover">
        <tr>
            <th>Set</th>
            <th>Rarity</th>
            <th>Title</th>
            <th>Count</th>
            <th>Price</th>
            <th>Price Trend</th>
        </tr>
        <tr th:each="card : ${cards}">
            <td th:text="${card.getSet()}"></td>
            <td th:text="${card.getRarity()}"></td>
            <td th:text="${card.getTitle()}"></td>
            <td th:text="${card.getCount()}"></td>
            <td th:text="${card.getPrice()}"></td>
            <td th:text="${card.getPrice_trend()}"></td>
        </tr>
    </table>
</div>


<div th:insert="fragments/fragments.html :: footer"></div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>