<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MKM Webclient</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.css} "/>

</head>
<body>

<!-- Navigation -->
<div th:insert="fragments/fragments.html :: header"></div>
<!-- CardForm -->
<div class="container">
    <form method="post" th:object="${card}">
        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <label for="cardName">Card</label>
                <div class="input-group text">
                    <input type="text" class="form-control" id="cardName" autocomplete="off" th:field="*{title}">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>

<div th:insert="fragments/fragments.html :: footer"></div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>