<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MKM Webclient Sorter Upload</title>
  <link th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} " th:rel="stylesheet"/>
  <link th:href="@{webjars/font-awesome/5.13.0/css/all.css} " th:rel="stylesheet"/>
</head>
<body>

<div th:insert="fragments/fragments.html :: header"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 mt-5">
      <h2>Upload File Example</h2>
      <p class="alert alert-primary" th:if="${message ne null}" th:text="${message}"></p>
      <form enctype="multipart/form-data" method="post" th:action="@{/sorterUpload/upload}">
        <div class="form-group">
          <input class="form-control-file" name="file" type="file">
        </div>
        <button class="btn btn-primary" type="submit">Upload File</button>
      </form>
    </div>
  </div>

</div>
<div th:insert="fragments/fragments.html :: footer"></div>

<script>
  document.querySelector('.custom-file-input').addEventListener('change', function (e) {
    var fileName = document.getElementById("exampleInputFile").files[0].name;
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = fileName
  })
</script>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</body>
</html>